@charset "UTF-8";

body {
    margin: 0px;
    padding: 0px;
}

img, embed, object, video, picture {
    max-width: 100%;
}

p, h1, h2, h3, h4, h5 {
    margin: 0px;
    padding: 0px;
    font-family: 'Geologica', sans-serif;
}

a {
    text-decoration: none;
    transition: all .5s ease-in-out;
    color: black;
}

input, textarea {
    display: block;
    margin: 0px;
    padding: 0px;
}

section h2, section h3, section p {
    padding-left: 15px;
    text-align: center;
}

footer {
    background-color: rgb(255, 255, 196);
}

/* MOBILE */
/*INDEX*/
.burger {
	height: 12px;
	background-color:#A3A1A1;
	display: block;
    margin: 10px 0px 10px 0;
	border-radius: 10px;
    width: 100px;
}

#m-box1 {
	border: 5px solid #FFD0D0;
	background-color: #FEE9E9;
  	padding: 10px;
  	margin: 20px;
	border-radius: 15px;
}

#m-box2 {
	border: 5px solid #FFD0D0;
	background-color: #FEE9E9;
	padding: 10px 10px 25px 10px;
	margin: 20px;
	border-radius: 15px;
}

#m-box3 {
	border: 5px solid #FFD0D0;
	background-color: #FEE9E9;
	padding: 10px 10px 25px 10px;
	margin: 20px;
	border-radius: 15px;
}

#m-box4 {
	border: 5px solid #FFD0D0;
	background-color: #FEE9E9;
	padding: 10px;
	margin: 20px;
	border-radius: 15px;
}

.m-contactbox {
    width: 200%;
	border:5px solid #FFD0D0;
	background-color: #FEE9E9;
	border-radius: 35px;
    margin-bottom: 15%;
}

#m-firstname {
	font-size: 15px;
    width: 95%;
    margin: 5px;
}

#m-lastname {
	font-size: 15px;
    width: 95%;
    margin: 5px;
}

#m-email {
	font-size: 15px;
    width: 95%;
    margin: 5px;
}

#m-phone {
	font-size: 15px;
    width: 95%;
    margin: 5px;
}

#m-message {
	font-size: 15px;
    width: 95%;
    margin: 5px 5px 20px 5px;
    height: 40%
}

#m-submit {
	border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
	background-color: #d4a0a0; 
    margin-left: 5%;
    width: 55%;
}

#mflavour1 {width: 100%;}
#mflavour2 {width: 100%;}
#mflavour3 {width: 100%;}
#mflavour4 {width: 100%;}
#mflavour5 {width: 100%;}
#mflavour6 {width: 100%;margin-bottom: 15px}

#m-pages {
    margin-top: 10px;
    font-size: 20px;
    width: 120%;
}

#m-care {
    margin-top: 10px;
    font-size: 20px;
    width: 120%;
}

#m-privacy {
    margin-top: 10px;
    font-size: 20px;
    width: 120%;
}

/*CONTACT*/
#m-bgcolor {
    background-color: rgb(255, 231, 250);
}

#m-contactus {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 25px;
}

#mc-contactbox {
    width: 100%;
	border:5px solid #55ACEE;
	background-color: #a0ccee;
	border-radius: 35px;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mc-name {
    width: 90%;
    font-size: 20px;
    margin-bottom: 15px;
    align-items: center;
}

#mc-email {
    width: 90%;
    font-size: 20px;
    margin-bottom: 15px;
    display: block;
    justify-content: center;
}

#mc-message {
    width: 90%;
    font-size: 20px;
    margin-bottom: 15px;
    height: 300px;
    display: block;
}

#mc-submit {
    width: 90%;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
	background-color: #55ACEE; 
    margin-bottom: 15px;
}

#flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

@media screen and (max-width: 767px) {
    .hide-d {display: none;}
    .hide-t {display:none;}

    #flavour1 {display: none;}
    #flavour2 {display: none;}
    #flavour3 {display: none;}
    #flavour4 {display: none;}
    #flavour5 {display: none;}
    #flavour6 {display: none;}

    #tflavour1 {display: none;}
    #tflavour2 {display: none;}
    #tflavour3 {display: none;}
    #tflavour4 {display: none;}
    #tflavour5 {display: none;}
    #tflavour6 {display: none;}
}
/* TABLET */
@media screen and (min-width: 768px) {

    .hide-d {display:none;}
    .hide-m {display:none;}

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    /*INDEX*/

    #t-box1 {
        width: 40%;
        border: 5px solid #FFD0D0;
        background-color: #FEE9E9;
        padding: 30px 0 30px 0;
        margin: 20px;
        border-radius: 35% 2%;
        font-size: 20px;
        display: inline-block;
    }

    #t-box2 {
        width: 40%;
        border: 5px solid #FFD0D0;
        background-color: #FEE9E9;
        padding: 30px 0 30px 0;
        margin: 20px;
        border-radius: 2% 35%;
        font-size: 20px;
        display: inline-block;
    }

    #t-box3 {
        width: 40%;
        border: 5px solid #FFD0D0;
        background-color: #FEE9E9;
        padding: 30px 0 30px 0;
        margin: 20px;
        border-radius: 0% 35% 2%;
        font-size: 20px;
        display: inline-block;
    }

    #t-box4 {
        width: 40%;
        border: 5px solid #FFD0D0;
        background-color: #FEE9E9;
        padding: 30px 0 30px 0;
        margin: 20px;
        border-radius: 35% 0% 35% 2%;
        font-size: 20px;
        display: inline-block;
    } 

    .t-contactbox {
        width: 100%;
        border:5px solid #FFD0D0;
        background-color: #FEE9E9;
        border-radius: 35px;
        margin-bottom: 5%;
        height: 430px;
    }

    #t-firstname {
        font-size: 15px;
        width: 97%;
        margin: 5px;
    }

    #t-lastname {
        font-size: 15px;
        width: 97%;
        margin: 5px;
    }

    #t-email {
        font-size: 15px;
        width: 97%;
        margin: 5px;
    }

    #t-phone {
        font-size: 15px;
        width: 97%;
        margin: 5px;
    }

    #t-message {
        font-size: 15px;
        width: 97%;
        margin: 5px 5px 20px 5px;
        height: 40%
    }

    #t-submit {
        border: 0;
        line-height: 2.5;
        padding: 0 20px;
        font-size: 20px;
        text-align: center;
        border-radius: 10px;
        background-color: #d4a0a0; 
        margin-left: 5%;
        width: 25%;
    }

    #t-pages {
        margin-top: 10px;
        font-size: 20px;
        width: 120%;
    }
    
    #t-care {
        margin-top: 10px;
        font-size: 20px;
        width: 120%;
    }
    
    #t-privacy {
        margin-top: 10px;
        font-size: 20px;
        width: 120%;
    }

    #tflavour1 {height: 450px;margin: 5px;}
    #tflavour2 {height: 450px;margin: 5px;}
    #tflavour3 {height: 450px;margin: 5px;}
    #tflavour4 {height: 450px;margin: 5px;}
    #tflavour5 {height: 450px;margin: 5px;}
    #tflavour6 {height: 450px;margin: 5px;}

    nav a {
        font-size: 30px;
        margin: 0px 10px 0 15px;
        padding-top: 15px;
        float: left;
        font-family: 'Geologica', sans-serif;
        color: black;
    }

    nav a:hover {
        color: #FFD0D0;
    }

    h2 {
        font-size: 30px;
        margin: 25px;
    }

    /*CONTACT*/

/* DESKTOP */
@media screen and (min-width: 1200px) {
    .hide-d {display: flex;}
    .hide-m {display: none;}
    .hide-t {display: none;}

    #mflavour1 {display: none;}
    #mflavour2 {display: none;}
    #mflavour3 {display: none;}
    #mflavour4 {display: none;}
    #mflavour5 {display: none;}
    #mflavour6 {display: none;}

    #tflavour1 {display: none;}
    #tflavour2 {display: none;}
    #tflavour3 {display: none;}
    #tflavour4 {display: none;}
    #tflavour5 {display: none;}
    #tflavour6 {display: none;}

    #flavour1 {height: 450px;margin: 5px;}
    #flavour2 {height: 450px;margin: 5px;}
    #flavour3 {height: 450px;margin: 5px;}
    #flavour4 {height: 450px;margin: 5px;}
    #flavour5 {height: 450px;margin: 5px;}
    #flavour6 {height: 450px;margin: 5px;}

    .d-bgcolor {
        background-color:#ea1d6f;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    nav a {
        font-size: 30px;
        margin: 0px 10px 0 15px;
        padding-top: 15px;
    }

    h2 {
        font-size: 30px;
        margin: 25px;
      }

      /*INDEX*/
    #chat {margin-top: 18px;}
    #call {margin-top: 18px;}
    #email {margin-top: 18px;}

    #contact {
        margin-left:5px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #d-box1 {
        width: 60%;
        height: 80%;
        border: 5px solid #FFD0D0;
        background-color: #FEE9E9;
        padding: 10px;
        margin: 10px;
    }

    #d-box2 {
        width: 100%;
        height: 80%;
        border: 5px solid #FFD0D0;
        background-color: #FEE9E9;
        padding: 10px;
        margin: 10px;
    }

    #d-box3 {
        width: 100%;
        height: 80%;
        border: 5px solid #FFD0D0;
        background-color: #FEE9E9;
        padding: 10px;
        margin: 10px;
    }

    #d-box4 {
        width: 100%;
        height: 80%;
        border: 5px solid #FFD0D0;
        background-color: #FEE9E9;
        padding: 10px;
        margin: 10px;
    }

    .d-contactbox {
        margin-left: 25%;
        width: 600%;
        height: 500px;
        border:5px solid #FFD0D0;
        background-color: #FEE9E9;
        border-radius: 35px;
        margin-bottom: 15%;
        display: flex;
        flex-direction: column;
    }

    #d-firstname {
        font-size: 15px;
        margin: 5px;
    }

    #d-lastname {
        font-size: 15px;
        margin: 5px;
    }

    #d-email {
        font-size: 15px;
        margin: 5px;
    }

    #d-phone {
        font-size: 15px;
        margin: 5px;
    }

    #d-message {
        font-size: 15px;
        margin: 5px 5px 20px 5px;
        height: 40%
    }

    #d-submit {
        width: 40%;
        border: 0;
        line-height: 2.5;
        padding: 0 20px;
        font-size: 20px;
        text-align: center;
        border-radius: 10px;
        background-color: #d4a0a0; 
        margin-left: 10px;
    }

    #d-pages {
        margin-top: 10px;
        font-size: 20px;
        width: 120%;
        display: flex;
        flex-direction: column;
    }
    
    #d-care {
        margin-top: 10px;
        font-size: 20px;
        width: 120%;
        display: flex;
        flex-direction: column;
    }
    
    #d-privacy {
        margin-top: 10px;
        font-size: 20px;
        width: 120%;
        display: flex;
        flex-direction: column;
    }

    *, *:before, *:after {
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

    button, input {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        letter-spacing: 1.4px;
      }

      body {
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1.4px;
      }
      
      .background {
        display: flex;
    }
      
      .container {
        flex: 0 1 700px;
        margin: auto;
        padding: 10px;
      }
      
      .screen {
        position: relative;
        background: #3e3e3e;
        border-radius: 15px;
      }
      
      .screen:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 20px;
        right: 20px;
        bottom: 0;
        border-radius: 15px;
        box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
        z-index: -1;
      }
      
      .screen-header {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        background: #4d4d4f;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }
      
      .screen-header-left {
        margin-right: auto;
      }
      
      .screen-header-button {
        display: inline-block;
        width: 8px;
        height: 8px;
        margin-right: 3px;
        border-radius: 8px;
        background: white;
      }
      
      .screen-header-button.close {
        background: #ed1c6f;
      }
      
      .screen-header-button.maximize {
        background: #e8e925;
      }
      
      .screen-header-button.minimize {
        background: #74c54f;
      }
      
      .screen-header-right {
        display: flex;
      }
      
      .screen-header-ellipsis {
        width: 3px;
        height: 3px;
        margin-left: 2px;
        border-radius: 8px;
        background: #999;
      }
      
      .screen-body {
        display: flex;
      }
      
      .screen-body-item {
        flex: 1;
        padding: 50px;
      }
      
      .screen-body-item.left {
        display: flex;
        flex-direction: column;
      }
      
      .app-title {
        display: flex;
        flex-direction: column;
        position: relative;
        color: #ea1d6f;
        font-size: 26px;
      }
      
      .app-title:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 25px;
        height: 4px;
        background: #ea1d6f;
      }
      
      .app-contact {
        margin-top: auto;
        font-size: 8px;
        color: #888;
      }
      
      .app-form-group {
        margin-bottom: 15px;
      }
      
      .app-form-group.message {
        margin-top: 40px;
      }
      
      .app-form-group.buttons {
        margin-bottom: 0;
        text-align: right;
      }
      
      .app-form-control {
        width: 100%;
        padding: 10px 0;
        background: none;
        border: none;
        border-bottom: 1px solid #666;
        color: #ddd;
        font-size: 14px;
        text-transform: uppercase;
        outline: none;
        transition: border-color .2s;
      }
      
      .app-form-control::placeholder {
        color: #666;
      }
      
      .app-form-control:focus {
        border-bottom-color: #ddd;
      }
      
      .app-form-button {
        background: none;
        border: none;
        color: #ea1d6f;
        font-size: 14px;
        cursor: pointer;
        outline: none;
      }
      
      .app-form-button:hover {
        color: #b9134f;
      }
      
      .credits {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        color: #ffa4bd;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 16px;
        font-weight: normal;
      }
      
      .credits-link {
        display: flex;
        align-items: center;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
      }
      
      .dribbble {
        width: 20px;
        height: 20px;
        margin: 0 5px;
      }
      
      @media screen and (max-width: 520px) {
        .screen-body {
          flex-direction: column;
        }
      
        .screen-body-item.left {
          margin-bottom: 30px;
        }
      
        .app-title {
          flex-direction: row;
        }
      
        .app-title span {
          margin-right: 12px;
        }
      
        .app-title:after {
          display: none;
        }
      }
    
      
    /*CONTACT*/
}
}